/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .gameCont .game{
    width: 95%;
    padding: 2px;
  }

  .modal{
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .gameCont .game{
    width: 55%;
  }

  .modal{
    width: 75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .gameCont .game{
    width: 45%;
  }

  .modal{
    max-width: 550px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .gameCont .game{
    width: 35%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .gameCont .game{
    width: 27%;
  }
}

.gameCont .gameBody .row span{
  height: 110px;
  width: 100px;
}

.gameCont .gameBody .over{
  min-height: 330px;
}
