@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0; 

  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
  --bg: #FAF8EF;
  --primary: #645d56;
  --black: #1A1A1A;
  --dim: rgba(0,0,0, 0.3);
  --cross: #2512A0;
  --knot: #8B1111;
  --gray: #63666A;
  --gameBg: #B9AB9E;
  --gameTile: #CDC1B4;
  --white: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
  color: var(--primary);
  font-weight: 800;
}

.text-gray{
  color: var(--gray);
}

.text-x, .text-X{
  color: var(--cross);
}

.text-o, .text-O{
  color: var(--knot);
}
 
button{
  padding: 6px;
  border-radius: 5px;
  border: none;
  background-color: var(--bg);
  cursor: pointer;
}

.winLine{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes fade-in{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes bounce-text{
  0%{font-size: 80px}
  50%{font-size: 90px}
  100%{font-size: 80px}
}

@keyframes winAnimation {
  from {
    stroke-dashoffset: 380;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.winAnimation{
  animation: winAnimation 1s ease-in-out forwards;
  stroke-dasharray: 380; /* Length of the line */
  stroke-dashoffset: 380; /* Initially hide the stroke */
}