@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0; 

  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
  --bg: #FAF8EF;
  --primary: #776E65;
  --black: #1A1A1A;
  --dim: rgba(0,0,0, 0.3);
  --cross: #2512A0;
  --knot: #8B1111;
  --gray: #63666A;
  --gameBg: #B9AB9E;
  --gameTile: #CDC1B4;
  --white: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
  color: var(--primary);
  font-weight: 800;
}

.text-gray{
  color: var(--gray);
}

.text-cross{
  color: var(--cross);
}

.text-knot{
  color: var(--knot);
}

@keyframes fade-in{
  from{opacity: 0;}
  to{opacity: 1;}
}